.create_form{
    border: 1px black solid;
    padding: 20px;
    text-align: center;
    margin: 100px 400px;
    padding: 50px 30px;
    background-color: rgb(153, 165, 178);
}

.create_field{
    padding: 15px;
    font-weight: bold;
    color: green
}

.create_btn{
    font-weight: bold;
    padding: 10px 10px;
    background-color: rgb(18, 164, 18);
    cursor: pointer;
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
    margin: 20px;
}

.display_user{
    border: 1px solid black;
    text-align: center;
    padding: 100px 50px;
    margin: 15px 500px;
    background-color: bisque;
}